# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Environments
*.venv/
.venv/
*.venv
.venv/
venv/

# OS/editor
.DS_Store
Thumbs.db
*.swp

# any PDF with "instruction" in the filename
**/*instruction*.pdf
**/*Instruction*.pdf